PORT=3001
DB_DIALECT=sqlite
DB_STORAGE=../../database/restaurant.db
JWT_SECRET=mi_clave_super_secreta

EMAIL_USER=atavismonotificaciones@gmail.com
EMAIL_PASS=exzddencxfvaxnzt


## server/.env
PORT=3001
DB_DIALECT=sqlite
DB_STORAGE=../../database/restaurant.db
JWT_SECRET=mi_clave_super_secreta

# Configuración de Correo (Nodemailer)
EMAIL_USER=notificacionescasavalluna@gmail.com
EMAIL_PASS=wgja nscz nenp lyzt